:root{
  --color-texto: green;
}

p{
  color: blue;
}

#titulo-principal{
  color: var(--color-texto);
  border-style: dotted;
}

.borderh{
  border: 10px double;
  border-style: inset;
}

p{
  color: green;
}

img[src]{
  border: 10px solid;
  border-style: double;
}

#parrafo-importante{
  border-style: dashed;
  padding-bottom: 200px;
  padding-left: 80px;
  padding-right: 400px;
  padding-top: 150px;

  margin-bottom: 150px;
}

#test-parrafo{
  border-color: yellow;
  border-top-width: 12px;
  border-style: groove;
}
